/*LOGIN  */

.main-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    margin-bottom: 10px;
}

.page-subtitle {
    margin-bottom: 35px;
    color: #aaa;
}

/* CARD */
.login-box {
    background: #111;
    padding: 45px;
    border-radius: 16px;
    border: 1px solid #1f1f1f;
    width: 100%;
    max-width: 480px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

/* LABEL */
.login-box label {
    display: block;
    color: #ddd;
    font-size: 15px;
    margin-bottom: 6px;
}

/* CAMPOS */
.login-box input {
    width: 100%;
    padding: 14px;
    margin-bottom: 22px;
    background: #0c0c0c;
    border: 1px solid #222;
    border-radius: 8px;
    color: #fff;
}

.login-box input:focus {
    border-color: #e60000;
    outline: none;
}

/* BOTÃO */
.login-btn {
    width: 100%;
    padding: 15px;
    background: #e60000;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.login-btn:hover {
    background: #ff1a1a;
}

/* LINKS */
.login-alt {
    margin-top: 20px;
    text-align: center;
}

.login-alt a {
    color: #e60000;
}

/* ALERTAS */
.alerta, .sucesso {
    width: 100%;
    max-width: 480px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
}

.alerta {
    background: #3d0000;
    color: #ffb3b3;
    border: 1px solid #e60000;
}

.sucesso {
    background: #003d00;
    color: #b3ffb3;
    border: 1px solid #00c400;
}
