/* GRID DE PRODUTOS */
.produtos-grid {
    margin-top: 28px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 26px;
}

/* CARD */
.card-brutal {
    background: #111;
    border: 1px solid #1c1c1c;
    padding: 16px;
    border-radius: 10px;
    transition: .25s ease;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 14px rgba(0,0,0,0.18);
    animation: fadeUp .4s ease forwards;
    opacity: 0;
}

.card-brutal:hover {
    transform: translateY(-4px);
    border-color: #e60000;
    box-shadow: 0 6px 20px rgba(0,0,0,0.26);
}

.card-img img {
    width: 100%;
    height: 130px;
    object-fit: contain;
    margin-bottom: 8px;
}

.card-nome {
    font-size: 14px;
    min-height: 36px;
}

.card-preco {
    margin-top: 6px;
    font-size: 17px;
    font-weight: 600;
    color: #e60000;
}

.btn-add-brutal {
    width: 100%;
    margin-top: 10px;
    padding: 9px;
    background: #181818;
    border: 1px solid #242424;
    border-radius: 6px;
    color: #ddd;
    font-size: 13px;
    cursor: pointer;
    transition: .2s;
}

.btn-add-brutal:hover {
    border-color: #e60000;
    color: #fff;
}

/* Remove descrições longas */
.descricao {
    display: none !important;
}
